<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="utf-8" />
  <title>
    <p>
      POST
    </p>
  </title>
  <link rel="stylesheet" href="/stylesheets/style.css" />
</head>

<body>
  <h1><%= title %></h1>
  <p>
    Welcom to node.js and MongoDB
  </p>

  <p>
    <%= data %>
  </p>

<br />
  <form action="/" method="get">
    <input type="submit" value="indexに戻る" />
  </form>
</body>



</html>
